button {
    background-color: #448efd;
    font-size: 2rem;
    border: none;
    margin-left: 10px;
    border-radius: 50%;
    padding-left: 12px;
    padding-right: 12px;
    color:white;    
    font-weight: bold;
}